<div class="detal_top" id="detal_top">
    <div class="detal_top_bg" id="detal_top_bg">
        <h2>旅游意外险</h2>
        <p>自由行、自助游首选</p>
        <p>交通意外双倍赔付</p>
    </div>
</div>
<div class="detal_intro">
    <div class="detal_intro_info">
        <div id="slidebox">
            <ul id="slide_list">
                <li>
                    <div class="slide_title">120<b>元</b><span>/</span>7<b>天</b>
                        <h3>保障金额880万</h3>
                        <div class="slide_content">
                            <div class="slide_content_text"><span>意外伤害身故/残疾</span><span>50万</span></div>
                            <div class="slide_content_text"><span>意外伤害医疗</span><span>10万</span></div>
                            <div class="slide_content_text"><span>交通工具意外身故</span><span>投保</span></div>
                            <div class="slide_content_text"><span>突发急性疾病身故</span><span>2万</span></div>
                            <div class="slide_content_text"><span>住院津贴</span><span>10万</span></div>
                            <div class="slide_content_text"><span>境内紧急医疗救援</span><span>赠送</span></div>
                            <div class="slide_content_text"><span>航班延误</span><span>200元/次</span></div>
                            <div class="slide_content_text"><span>托运行李延误补偿</span><span class="slide_content_switch">……</span></div>
                            <div class="slide_content_hidetext slide_content_hide">
                                <div class="slide_content_text"><span>行李损失</span><span>5000元</span></div>
                                <div class="slide_content_text"><span>医疗运送和送返</span><span>400万元</span></div>
                                <div class="slide_content_text"><span>个人财产损失</span><span>5000元</span></div>
                            </div>
                        </div>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="slide_choice" id="slide_choice" showType="close"></div>
            <ol id="slide_btns">
                <li title="0"><a href="javascript:">经济款</a></li>
                <!--<li title="1" class="on"><a href="javascript:">全面款</a></li>-->
                <!--<li title="2"><a href="javascript:">豪华款</a></li>-->
                <!--<li title="3"><a href="javascript:">超豪华款</a></li>-->
            </ol>
        </div>
    </div>
    <div class="detal_intro_btn">
        <!--<div class="addmycollection">加入收藏</div>-->
        <div class="enterchoice" id="toub">投保</div>
        <!--<div class="findagent">找代理人</div>-->
    </div>
    <div class="clear"></div>
</div>
<div class="detal_intro_explan" id="detal_intro_explan">
    <ul>
        <li class="on">保障范围</li>
        <li>投保须知</li>
        <li>投保人声明</li>
    </ul>
    <div class="show" id="insuranceScope">
        <!--<p>被保人在非驾车时因意外伤害事故身故/残疾/烧烫伤，我们将给付非驾车时“意外伤害身故/残疾烧烫伤保险金”；</p>-->
        <!--<p>-->
        <!--因意外伤害事故发生医疗费用，我们将就其事故发生之日起一百八十日内实际支出的按照当地社会医疗保险主管部门规定可报销的、必要、合理的医疗费用超过人民币100元的部分给付医疗保险金；</p>-->
        <!--<p>驾驶20座以下的非营运车辆时因意外伤害事故身故/残疾/烧烫伤，我们将赔付意外身故/残疾/烧烫伤保险金。</p>-->
        <!--<p>紧急修理、电瓶充电、更换备胎、应急加油、车辆拖带、车辆困境救援等服务。保险期内，每位被保险人无论激活多少张卡，仅享有一次道路紧急救援服务。</p>-->
    </div>
    <div id="insuranceNotice">
        <p>投保须知</p>
    </div>
    <div id="insuranceStatement">
        <p>投保人声明</p>
    </div>
</div>
<div class="copright">该服务由中国平安提供</div>